@media (max-width: 1080px) {
    .left-info-image img {
        /* display: none; */
        width: 200px;
    }

    .new-posts-site-info {
        width: 100%;
    }

    .new-blog-post-carousel {
        width: 80%;
    }

    .carousel-img {
        width: 100%;
    }
}

@media (max-width: 920px) {

    .left-info-image {
        display: none;

    }

    .blog-and-sidebar {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }

    .searchbar {
        display: none;
    }

    .newest-instagram {
        display: none;
    }

    /* .filter-posts {
        display: none;
    } */
}

@media (max-width: 670px) {
    .blog-post-header-img img {
        max-width: 180px;
        height: 50px;
    }

    .header-image p {
        display: flex;
    }

    /* .site-info-container {
        display: none;
    } */
    .site-info {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .center-site-info {
        /* width: 90%;
        height: fit-content;
        padding: 0 0 20px 0;
        margin: auto;
        order: 2; */
        display: none;
    }

    .new-posts-site-info {
        height: 180px;
    }

    .new-blog-post-carousel {
        height: 120px;
    }

    .carousel-img {
        height: 120px;
    }

    /* .new-posts-site-info {
        display: none;
    } */
}

@media (max-width: 480px) {

    .blog-post-header-img img {
        display: none;
    }

    .new-posts-site-info-header {
        justify-content: flex-end;
    }


    .new-posts-site-info-header p {
        display: none;
    }

}