body {
    margin: 0;
    padding: 0;
    background-color: #504E4E;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}


.main-menu {
    position: relative;
}

.main-menu ul {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    line-height: 60px;
}

.main-menu li {
    display: flex;
}

.main-menu li:hover {
    color: #fff;
}

:root {
    --main-color-one: #35423A;
    --main-color-two: #ADBAB2;
    --main-color-three: #242424;
}

.header-image {
    height: 250px;
    max-width: 100vw;
    background-color: var(--main-color-one);
    color: azure;
}

h1.site-name-placeholder {
    font-size: 3rem;
    text-align: center;
    line-height: 250px;
    margin: 0;
}

.main-menu {
    max-width: 100vw;
    background-color: black;
    height: 60px;
    color: var(--main-color-two);
}

.site-info-container {
    max-width: 1200px;
    margin: auto;
}

.site-info {
    height: 250px;
    background-color: #35423A;
    display: flex;
}

.left-info-image {
    max-width: 450px;
    height: 250px;
    background-color: var(--main-color-three)
}

.left-info-image img {
    max-width: 450px;
    min-width: 200px;
    height: 250px;
    opacity: 50%;
    object-fit: cover;
}

.center-site-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    background-color: var(--main-color-two);
    background-color: var(--main-color-one);
    background-size: cover;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 0.9rem;
}

.center-site-info-header {
    font-weight: 200;
    margin-bottom: 0;
}

/* .center-site-info p {
    margin-bottom: 5px;
} */

.scroll-down {
    width: 150px;
    margin: 0 auto;
}


.new-posts-site-info {
    width: 450px;
    height: 250px;
    background-color: var(--main-color-three);
}

.new-posts-site-info-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.new-posts-site-info-header-text {
    display: flex;
    line-height: 30px;
    justify-content: flex-end;
    background-color: #35423A;
    background: linear-gradient(45deg, transparent 20%, var(--main-color-one) 20%);
    width: 258px;
    height: 30px;
    text-align: end;
    padding-right: 10px;
    color: #fff;
}

.new-posts-site-info-header-text h5 {
    font-weight: 300;
}

.new-posts-site-info-header p {
    color: #504E4E;
    margin-left: 10px;
    font-size: 0.8rem;
    font-style: italic;
}

.news-and-content {
    text-align: center;
    margin: 0;
    color: #2D2929;
    font-weight: 300;
}


.blog-and-sidebar {
    max-width: 1200px;
    display: grid;
    grid-template-columns: [blog] 1fr [sidebar] 250px;
    margin: auto;
}

.blog-content {
    display: grid;
    min-height: 500px;
    /* max-width: 1000px; */
    background-color: var(--main-color-three);
    grid-column: blog;
}


.blog-post {
    margin-bottom: 50px;
    background-color: #fff;
}

.blog-post li {
    /* list-style: decimal; */
    max-width: 750px;
    margin: 10px auto;
}

.blog-post-text p {
    margin: auto;
    max-width: 800px;
}

.blog-post-text a {
    color: #547060;
    font-style: italic;
}

.blog-post-header {
    height: 50px;
    background-color: var(--main-color-three);
    display: flex;
    justify-content: space-between;
}

.blog-date {
    height: 50px;
    max-width: 300px;
    min-width: 200px;
    background: linear-gradient(45deg, var(--main-color-one) 80%, transparent 80%);
}

.blog-date h4 {
    padding-left: 20px;
    line-height: 50px;
    max-width: 300px;
    min-width: 250px;
    color: #fff;
}

.blog-post-header-img img {
    height: 50px;
    width: 400px;
    object-fit: cover;
    opacity: 30%;

}

.blog-post-img-title {
    position: relative;
}

.blog-post-main-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.85);
}

.blog-post-title {
    margin: 1% 2% 1% 2%;
    text-align: center;
    max-width: 700px;
    min-width: fit-content;
    background-color: rgba(173, 186, 178, 0.85);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.blog-post-text {
    margin: 3%;
    /* font-size: 1.2rem; */
}

.blog-post-text p {
    margin-bottom: 10px;
}

.wp-block-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    margin: 0;
}


.wp-block-gallery figure {
    display: flex;
    /* width: 200px;
    height: 200px; */
    /* margin: auto; */
}

/* figure.wp-block-image {
    width: 200px;
    height: 200px;
} */

.wp-block-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#read-more {
    text-align: right;
    font-style: italic;
    margin: 3%;
    font-size: 0.9rem;
}

#read-more:hover {
    font-weight: 600;
}

.blog-post-info {
    display: flex;
    background-color: rgba(173, 186, 178, 0.9);
    /* border-radius: 6px; */
    /* margin: 3%; */
    padding: 1% 3%;
    justify-content: space-between;
    font-style: italic;
}

.load-more {
    color: #ADBAB2;
    margin: auto;
    margin-bottom: 50px;
    cursor: pointer;
}

.load-more:hover {
    font-style: italic;
}

.sidebar {
    display: grid;
    min-height: 500px;
    background-color: #242424;
    color: var(--main-color-two);
    grid-column: sidebar;
    border-left: 1px solid var(--main-color-one);
    grid-template-rows: min-content min-content min-content auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar img {
    max-width: 250px;
    opacity: 80%;
}

.newest-posts,
.newest-comments {
    margin-bottom: 50px;
}


.newest-posts ul,
.newest-comments ul {
    margin-right: 7%;
    margin-left: 7%;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 300;
}

.newest-comments li,
.newest-posts li {
    margin-bottom: 20px;
    padding: 6px;
    border-radius: 6px;
    background-color: #35423a7a;
}

.newest-comments li p {
    margin: 0;
    font-weight: 200;
}

.read-more {
    text-align: end;
    font-size: 0.8rem;
    margin-top: 5px;
    border-bottom: 1px solid var(--main-color-two);
    font-style: italic;
    font-weight: 200;
}

.breadcrumbs {
    margin-left: 5%;
    margin-top: 5px;
    font-size: 0.85rem;
    font-weight: 300;
    display: flex;
    gap: 15px
}

.breadcrumbs p {
    margin: 0;
}




/* SINGLE BLOG POST PAGE */

.single-blogpost-container,
.contact-page-container,
.fenty-beauty-container,
.main-content {
    max-width: 1200px;
    background-color: #fff;
    height: fit-content;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.main-post-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.single-blogpost-container h1 {
    margin: 0 5% 0 5%;
    padding-top: 20px;
}

.single-blog-post-info {
    display: flex;
    margin-left: 5%;
    gap: 40px;
    font-size: 0.85rem;
}

.single-blog-post-text {
    margin-left: 5%;
    margin-right: 5%;
}

.category {
    margin-left: 5%;
    font-style: italic;
    font-size: 0.85rem;
}