/*      GLOBAL TEXT, LIST, LINK, ATTRIBUTES STYLING     */
h4,
h2,
h5 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.horizontal-line {
    border-bottom: 1px dotted white;
    margin: 10px auto;
    max-width: 215px;
}

.active {
    color: #fff;
}



/*          GLOBAL PAGES STYLING    */

.page-header-img {
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0 7px 9px var(--main-color-one);
    filter: brightness(0.9);
}

.about-text {
    padding: 3% 10%
}

.about-text h1 {
    text-align: center;
}

.hamburger-menu {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    display: none;
}

.fa-solid .fa-bars {
    height: 50px;
}

/*      LOADER      */
/* .loader {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 2rem;
    background-color: var(--main-color-three);
} */

/*  Loader from https://cssloaders.github.io/   */

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #797575;
    font-size: 7px;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
    margin: 20% auto;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}



/*      BUTTONS     */
/* .filter-button {
    margin: 0 7%;
    background-color: var(--main-color-two);
    padding: 6px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--main-color-one);
    color: var(--main-color-two);
} */

/* .main-menu>ul ul {
    display: none;
} 
*/
ul.sub-menu {
    display: none;
    position: absolute;
}

li.sub-menu-start:hover>ul.sub-menu,
li.sub-menu-start.open .sub-menu {
    display: block;
    top: 60px;
}

.main-menu li {
    padding: 0 5px 0 5px;
}

.sub-menu {
    position: absolute;
    background-color: black;
    padding: 0 10px 10px 10px;
    z-index: 1;
    color: var(--main-color-two);
    border-radius: 0px 0px 6px 6px;
}

.sub-menu li {
    display: block;

}


.carousel-arrow-content {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.right-arrow img,
.left-arrow img {
    height: 30px;
    padding: 5px;
    opacity: 70%;
    cursor: pointer;
}

.right-arrow img:hover,
.left-arrow img:hover {
    opacity: 100%;
}

.disabled-arrow {
    opacity: 0.5;
    pointer-events: none;
}

.new-blog-post-carousel {
    width: 350px;
    height: 200px;
    background-color: var(--main-color-one);
    border-radius: 6px;
    margin: auto;
    position: relative;
    text-align: center;
}


.carousel-img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    /* position: relative; */
    filter: brightness(0.9);
}

.carousel-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 186, 178, 0.9);
    width: fit-content;
    max-width: 300px;
    margin: 0;
    padding: 10px 10px;
    border-radius: 0 6px;
}

/* p.carousel-text {
    padding-left: 10px;
} */

/*              BLOG            */

.filter-mobile {
    display: none;
}

.filter-posts-mobile {
    background-color: var(--main-color-three);
    padding: 10px;
    border-bottom: 1px solid var(--main-color-two);
}

.filter-posts-by-mobile {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter-posts-by-mobile .option-inputs {
    width: 200px;
}

.filter-posts-by-mobile label {
    font-size: 14px;
}

.load-more-section {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

.load-more {
    color: #ADBAB2;
    margin: auto auto;
}

.load-more-link:hover {
    font-style: italic;
    cursor: pointer;
}

/*   SIDEBAR   */

.sidebar {
    display: grid;
    min-height: 500px;
    background-color: #242424;
    color: var(--main-color-two);
    grid-column: sidebar;
    /* border-left: 1px solid var(--main-color-one); */
    grid-template-rows: min-content min-content min-content auto;
    gap: 20px;
}

.sidebar h2 {
    text-align: center;
    background-color: #35423a7a;
    padding: 10px;
}

.sidebar img {
    max-width: 250px;
    opacity: 80%;
}

.newest-posts,
.newest-comments {
    margin-bottom: 15px;
    max-width: 300px;
    min-width: 200px;
}


.newest-posts ul,
.newest-comments ul {
    margin-right: 7%;
    margin-left: 7%;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 300;
}

.newest-comments li,
.newest-posts li {
    margin-bottom: 10px;
    padding: 10px 10px 5px 10px;
    /* border-radius: 6px; */
    /* background-color: #35423a65; */
    border-bottom: 1px dotted var(--main-color-two);
}

.newest-comments p {
    margin: 0;
}

.comment-content p {
    font-weight: 400;
    padding: 10px 0
}

.comment-info {
    font-style: italic;
}

.newest-posts li:hover,
.newest-comments li:hover {
    background-color: #495a4f7a;
    border-radius: 6px;
}

.read-more {
    text-align: end;
    font-size: 0.8rem;
    margin-top: 5px;
    border-bottom: 1px solid var(--main-color-two);
    font-style: italic;
    font-weight: 200;
}

.filter-posts-by {
    text-align: center;
    margin: 7%;
}

#filter-posts-by,
#filter-posts-by-mobile {
    padding: 6px;
    border-radius: 6px;
    margin-top: 5px;
    width: 90%;
    background-color: #35423a7a;
    color: white;
    text-align: center;
}

option {
    background-color: rgba(173, 186, 178, 0.9);
    ;
    color: black;
}

.filter-posts:last-child {
    margin-bottom: 20px;
}

/* .searchbar {
    margin: 7%;
}

.searchbar input {
    padding: 6px;
    border-radius: 6px;
} */

.go-to-post {
    margin: 0;
    margin-top: 5px;
    text-align: end;
    font-style: italic;
    font-size: 0.8rem;
    color: var(--main-color-two);
}

/* CONTACT PAGE */

.contact-form {
    margin: 10px;
}

fieldset {
    max-width: 465px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--main-color-two);
}

fieldset legend {
    background-color: var(--main-color-one);
    padding: 6px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #fff;
}

fieldset input {
    border-radius: 7px;

}

fieldset ul {
    padding: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 3px 0;
    box-sizing: border-box;
}

.submit-form {
    text-align: end;
}

#submit {
    padding: 10px;
    width: fit-content;
    background-color: var(--main-color-one);
    border-radius: 6px;
    color: #fff;
}

.form-error {
    color: darkred;
    margin-bottom: 15px;
    font-style: italic;
}

/*      SINGLE POST PAGE        */
.single-blogpost-content {
    border-bottom: 1px solid black;
}

.wp-block-embed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments {
    margin-top: 20px;
}

/* .comment-content {
    padding: 10px;
} */

.comment-card {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #adbab234;
    border-radius: 6px;
}

.commenter-name {
    font-weight: 500;
}

.comment-date {
    font-style: italic;
}

#comment-section {
    max-width: 90%;
    min-width: 60%;
    margin: auto;
}

#comment-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#comment-form label {
    font-weight: 600;
}

#username {
    border-radius: 6px;
}

textarea {
    min-height: 100px;
    max-width: 100%;
    border-radius: 6px;
}

#comment-button {
    padding: 10px;
    background-color: var(--main-color-two);
    border-radius: 6px;
}

.no-comments {
    font-style: italic;
}

.comment-on-hold {
    color: red;
    font-style: italic;
    margin-top: 20px;
}

/*          BRAND PAGES             */

.brand-quick-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--main-color-two);
    border-bottom: 1px solid var(--main-color-two);
}

.brand-quick-info p {
    margin: 5px;
    font-weight: 500;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.about-text h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-text iframe {
    margin-top: 20px;
    display: flex;
    align-self: center;
    width: 80%;
    height: 432px;
}

/* FOOTER   */
footer {
    background-color: var(--main-color-one);
    height: fit-content;
    max-width: 100vw;


}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 250px;
    color: var(--main-color-two);
    padding: 10px 5%;
    max-width: 1000px;
    margin: auto;
}

.left-footer {
    width: 20%;
    min-width: 150px;
}

.left-footer li:hover {
    color: #fff;
    cursor: pointer;
}

.center-footer {
    display: flex;
    max-width: 300px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
}

.right-footer {
    width: 20%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.right-footer p {
    margin-top: 0;
}

.social-media {
    display: flex;
    min-height: 30px;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.social-media i:hover {
    color: #fff;
}


.copyright {
    text-align: center;
}


/* MODAL TEST */
::backdrop {
    background-image: linear-gradient(45deg,
            rgb(112, 106, 112),
            rgb(22, 21, 22),
            rgb(7, 29, 12),
            rgb(41, 41, 41));
    opacity: 0.75;
    cursor: pointer;
}

dialog {
    max-height: 90vh;
    max-width: 100%;
    padding: 0;

}

dialog img {
    max-width: 90vw;
    max-height: inherit;
    object-fit: contain;
    display: flex;
}