:root {
    --main-color-one: #35423A;
    --main-color-two: #ADBAB2;
    --main-color-three: #242424;
    --body-bg-color: #504E4E;
    --menu-bg-color: #000;
    --menu-text-color: #ADBAB2;
    --li-hover-color: #fff;
    --body-font-family: 'Inter', sans-serif;
}