.comments {
    margin-top: 20px;
}

.comment-card {
    margin-bottom: 25px;
    padding: 10px;
    background-color: #adbab234;
    border-radius: 6px;
}

.commenter-name {
    font-weight: 500;
}

.comment-date {
    font-style: italic;
}

#comment-section {
    max-width: 100%;
    min-width: 60%;
    margin: auto;
    padding: 10px;
}

#comment-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#comment-form label {
    font-weight: 600;
}

textarea {
    min-height: 100px;
    max-width: 100%;
    border-radius: 6px;
}

.no-comments {
    font-style: italic;
    margin: auto;
}

.comment-on-hold {
    color: red;
    font-style: italic;
    margin-top: 20px;
}