::backdrop {
    background-image: linear-gradient(45deg,
            rgb(112, 106, 112),
            rgb(22, 21, 22),
            rgb(7, 29, 12),
            rgb(41, 41, 41));
    opacity: 0.75;
    cursor: pointer;
}

dialog {
    max-height: 90vh;
    max-width: 100%;
    padding: 0;

}

dialog img {
    max-width: 90vw;
    max-height: inherit;
    object-fit: contain;
    display: flex;
}